In [81]:
import pandas as pd
import seaborn as sns

In [87]:
df = pd.read_csv("../data/occupations.csv")
df

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [88]:
occu_count = df.groupby('occupation').count().iloc[:, 0]
occu_count

occupation
administrator     79
artist            28
doctor             7
educator          95
engineer          67
entertainment     18
executive         32
healthcare        16
homemaker          7
lawyer            12
librarian         51
marketing         26
none               9
other            105
programmer        66
retired           14
salesman          12
scientist         31
student          196
technician        27
writer            45
Name: user_id, dtype: int64

In [89]:
occu_F = df[df['gender']=='F'].groupby('occupation').count().iloc[:, 0]

In [90]:
combined = pd.concat([occu_count, occu_F], axis=1)
combined = combined.fillna(0)
combined

               user_id  user_id
occupation
administrator       79     36.0
artist              28     13.0
doctor               7      0.0
educator            95     26.0
engineer            67      2.0
entertainment       18      2.0
executive           32      3.0
healthcare          16     11.0
homemaker            7      6.0
lawyer              12      2.0
librarian           51     29.0
marketing           26     10.0
none                 9      4.0
other              105     36.0
programmer          66      6.0
retired             14      1.0
salesman            12      3.0
scientist           31      3.0
student            196     60.0
technician          27      1.0
writer              45     19.0

In [92]:
combined = combined.iloc[:,1]/combined.iloc[:,0]
combined

occupation
administrator    0.455696
artist           0.464286
doctor           0.000000
educator         0.273684
engineer         0.029851
entertainment    0.111111
executive        0.093750
healthcare       0.687500
homemaker        0.857143
lawyer           0.166667
librarian        0.568627
marketing        0.384615
none             0.444444
other            0.342857
programmer       0.090909
retired          0.071429
salesman         0.250000
scientist        0.096774
student          0.306122
technician       0.037037
writer           0.422222
Name: user_id, dtype: float64

In [93]:
combined.sort_values(ascending=False)

occupation
homemaker        0.857143
healthcare       0.687500
librarian        0.568627
artist           0.464286
administrator    0.455696
none             0.444444
writer           0.422222
marketing        0.384615
other            0.342857
student          0.306122
educator         0.273684
salesman         0.250000
lawyer           0.166667
entertainment    0.111111
scientist        0.096774
executive        0.093750
programmer       0.090909
retired          0.071429
technician       0.037037
engineer         0.029851
doctor           0.000000
Name: user_id, dtype: float64

In [95]:
# 모범답안
df = pd.read_csv('../data/occupations.csv')

# 여기에 코드를 작성하세요
occupation_group = df.groupby('occupation')

df.loc[df['gender'] == 'M', 'gender'] = 0
df.loc[df['gender'] == 'F', 'gender'] = 1

occupation_group.mean()['gender'].sort_values(ascending=False)

TypeError: Could not convert 913440520142141178701255097214730346180103755522414600589503681061070790210152374810397212523026020295938951610215406513582026314644124852027875655406200571680313210152350677975204968197821398225173454320420817551132801883709494289430510011262410410219711442248030320879M7A1A554126182090095604764426516506805389472032303950501286691040057791971634105782124020594086V1G4L3376355337030622111402215 to numeric